@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.landing-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
}

.lead {
  color: #ffffff;
  background-image: url(../../assets/img/bg-top.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;  

  &__wrapper {
    background-image: url(../../assets/img/mobile.png);
    background-repeat: no-repeat;
    background-size: 321px 561px;
    background-position: bottom right 100px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url(../../assets/img/mobile2x.png);
      
    }
  }

  &__content {
    width: 50%;
    padding-top: 121px;
    padding-bottom: 248px;
  }

  &__title {
    padding-bottom: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 1.2em;

    b {
      font-weight: bold;
    }
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.42em;
    margin-bottom: 32px;
  }

  @media (max-width: $md) {
    background-image: none;
    background-color: $primary-color;

    &__wrapper {
      background-image: none;
    }

    &__content {
      width: 100%;
      padding-bottom: 4em;
    }
  }
}

.features {
  padding-bottom: 65px;

  &__title {
    padding-bottom: 0.75em;
    font-size: 2rem;
    line-height: 1.22em;
    font-weight: normal;
    text-align: center;
    color: $font-color-dark;

    b {
      font-weight: bold;
    }
  }

  &__text {
    max-width: 780px;    
    margin: 0 auto;
    padding-bottom: 2em;
    font-size: 1.25rem;
    line-height: 1.42em;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      width: calc((100% - 40px) / 3);
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    font-size: 1rem;
    text-align: center;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 32px;

    &::before {
      @include pseudo-image;
      width: 106px;
      height: 96px;
      margin-bottom: 40px;
    }

    &--design {
      &::before {
        background-image: url(../../assets/img/clean-design-icon.svg);
      }
    }

    &--data {
      &::before {
        background-image: url(../../assets/img/secure-data-icon.svg);
      }
    }

    &--retina {
      &::before {
        background-image: url(../../assets/img/retina-ready-icon.svg);
      }
    }
  }

  &__item-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $font-color-dark;
  }

  @media (max-width: $md) {
    padding-top: 4em;

    &__list {
      flex-direction: column;

      li {
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

.advantage {
  color: #ffffff;
  background: linear-gradient(93.19deg, #255D8B 2.29%, #3A80BA 96.79%);

  &__wrapper {
    position: relative;
    display: flex;

    &::after {
      @include pseudo-image;
      position: relative;
      width: calc(50% + 40px);
      margin-left: -40px;
      margin-top: -20px;
      background-image: url(../../assets/img/macbook.png);
      background-position: bottom;
    }    
  }

  &__content {
    width: 50%;
    padding-top: 72px;
    padding-bottom: 80px;
    flex-shrink: 0;
  }

  &__title {
    padding-bottom: .5em;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2em;
  }

  &__text {
    padding-bottom: 1.5em;
    font-size: 1rem;
    line-height: 1.42em;
  }

  &__button {
    padding: 16px 64px 17px;
  }

  @media (max-width: $lg) {
    &__wrapper {
      &::after {
        display: none;
      }
    }

    &__content {
      width: 100%;;
    }
  }
}

.pricing {
  background-image: url(../../assets/img/bg-right.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20em;

  &__content {
    padding-top: 80px;
    padding-bottom: 48px;
  }

  &__title {
    padding-bottom: 0.75em;
    color: $font-color-dark;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.2em;
    text-align: center;

    b {
      font-weight: bold;
    }
  }

  &__text {
    font-size: 1.25rem;
    padding-bottom: 1.6em;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      width: calc((100% - 40px) / 3);
      margin-right: 20px;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    line-height: 1.6em;
    padding: 2em 1em 2.5em;

    background-color: #ffffff;
    border: 2px solid #F1F1F1;
    border-radius: 32px;

    &::before {
      @include pseudo-image;
      width: 210px;
      height: 122px;
    }
  
    &--basic::before {
      background-image: url(../../assets/img/basic.png);
    }
  
    &--standard::before {
      background-image: url(../../assets/img/standard.png);
    }
  
    &--unlimited::before {
      background-image: url(../../assets/img/unlimited.png);
    }

    &--selected {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    }
  }

  &__item-title {
    order: -1;
    margin-bottom: 19px;
    color: $font-color-dark;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  &__item-cost {
    color: $font-color-dark;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;

    &--selected {
      font-size: 56px;
      line-height: 68px;
      color: $primary-color;
    }
  }

  &__item-desctiption {
    max-width: 222px;
    margin-top: auto;
    margin-bottom: 24px;
    font-size: 1rem;
    line-height: 162%;
    text-align: center;

    &::before {
      @include pseudo-image;
      width: 100%;
      height: 2px;
      margin-bottom: 24px;
      background-image: url(../../assets/img/line.svg);
    }
  }

  &__contact {
    margin-top: 32px;
    text-align: center;

    a {
      color: $primary-color;
      text-decoration: none;
    }
  }

  @media (max-width: $md) {
    &__list {
      flex-direction: column;

      li {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &__item {
      padding-left: 2em;
      padding-right: 2em;
    }

    &__item-desctiption {
      max-width: 100%;
    }
  }
}

.landing-footer {
  background-image: url(../../assets/img/bg-bottom.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left 0 right 0;

  &__top {
    display: flex;
    justify-content: center;
    padding-top: 26px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 94px;
    font-size: 16px;
    color: #ffffff;
  }

  &__logo {
    font-size: 2em;
  }

  @media (max-width: $md) {
    background-image: none;
    background-color: $primary-color;
    
    &__bottom {
      flex-direction: column;
      padding-top: 2em;
      padding-bottom: 2em;
    }

    &__column {
      padding-bottom: 1em;
    }
  }
}