@import '../../styles/variables.scss';

.page-footer {
  color: #ffffff;
  line-height: 1.42em;
  background-color: $secondary-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
  }

  &__logo {
    font-size: 1.5rem;
    line-height: 1.2em;
    color: inherit;
    text-decoration: inherit;
  }
}