@import '../../styles/variables.scss';

.page-header {
  color: #ffffff;
  background-color: $primary-color;

  &__content {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  &__logo {
    font: inherit;
    color: #ffffff;
    font-size: 40px;
    line-height: 49px;
  }
}